  <div class="navbar">
    <nav class="transparent">
      <div class="nav-wrapper">
       	<a href="#!" class="brand-logo center">Azerus</a>
      </div>
    </nav>
  </div>
<div class="valign-wrapper">
 <div class="container center board">
 	<div class="row">
		<h3>Azerus Blogging Platform || Redefining Blogging</h3>
		<p>Azerus 0.1 Beta is about to roll out!</p><br>
	</div>
</div> 
</div>
 	<div class="row center countdown">
 		<h3>Launching In!</h3>
		<div id="clock" class="timer">
	</div>
</div>
<div class="valign-wrapper">
	<div class="container features">
		<div class="row">
			<div class="col s8">
		<h5>Built with Rails, Materialize, Flexi API(A TheDesignable LLC Concept) and ofcourse lots of love</h5>
		<p>
			<ul class= "collapsible popout" data-collapsible="accordion">Features:
				<li>
					<div class="collapsible-header"><i class="material-icons">stars</i>Fully Customizable</div>
					<div class="collapsible-body"></div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">lock_outline</i>Secure</div>
					<div class="collapsible-body"></div>
					</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">library_add</i>Better Integrations with other apps</div>
					<div class="collapsible-body"></div>
					</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">search</i>SEO friendly</div>
					<div class="collapsible-body"></div>
					</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">open_with</i>Flexi API's</div> 
					<div class="collapsible-body"></div>
				</li>

				<li>
					<div class="collapsible-header"><i class="material-icons">system_update_alt</i>Auto data backup</div>
					<div class="collapsible-body"></div>
					</li>
			</ul>
		</p>
		</div>
		<div class="col s4">
		<h5>Follow <%= link_to '@Ihackthings', "https://twitter.com/Ihackthings"%> and <%= link_to '@thedesignable', "https://twitter.com/thedesignable" %> for more info or say Hola to us, use #thedesignable</h5>
		</div>
		</div>
	</div>	
</div>
</div>
<p class="center">Image Courtesy : <%= link_to "Nelly Volkovich", "https://unsplash.com/nelly" %></p>